@import 'reset-css';
@import '../../node_modules/owl.carousel/dist/assets/owl.carousel.css';

$circle-diameter: 180px;
$circle-accent: #fa3f40;
$circle-white: #ffffff;
$circle-border: 20px;

* {
  box-sizing: border-box;
  outline-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.text {
  color: #030303;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
  &.white {
    color: #ffffff;
  }
}

// Header
.sticky {
  align-items: center;
  padding-top: 35px;
  .container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0 !important;
    width: 100%;
    background-color: #4f5d75;
    z-index: 99;
    border-bottom: 1px solid #000;
  }
}

.logo {
  display: flex;
  align-items: center;
  svg {
    width: 170px;
    height: 35px;
  }
}

.header-block {
  display: flex;
  align-items: center;
  color: #ffffff;
  .links {
    display: flex;
    justify-content: space-between;
    li {
      &:not(:last-child) {
        margin-right: 25px;
      }
      &:last-child {
        &::after{
          content: '|';
          margin-left: 25px;
        }
      }
      a {
        font-weight: bold;
      }
    }
  }
  .phone,
  .for {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 25px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 1.5px;
    &::after{
      content: '|';
      margin-left: 25px;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 6px;
      left: -2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $circle-accent;
    }
    .icon {
      margin-right: 12px;
    }
    a {
      font-weight: bold;
      font-family: "Open Sans";
    }
  }
  .for{
    margin: 0;
    &::after{
      display: none;
    }
    a {
      font-weight: bold;
      &:not(:last-child) {
        margin-right: 20px;
      }
      span {
        font-weight: normal;
      }
    }
  }
}

// Main
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%), url('../src/images/bg-main.png') no-repeat center;
  background-size: cover;
  .btn-block {
    margin-bottom: 220px;
  }
}

h1,
h2,
h3 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

h2.dark,
h3.dark {
  color: #030303;
}

.btn-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    width: 650px;
  }
}

.btn {
  width: 270px;
  height: 58px;
  margin-top: 50px;
  border-radius: 100px;
  background-color: #ffffff;
  color: #030303;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all .3s;
  &.dark {
    background-color: #030303;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: #030303;
      border: 1px solid #030303;
    }
  }
  &:hover {
    background-color: #030303;
    color: #ffffff;
  }
}

// How It Works
.how {
  padding: 90px 0;
}

.steps {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.step {
  width: 280px;
  &:not(:last-child) {
    margin-right: 140px;
  }
}

.step-content,
.step-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .text {
    width: 220px;
    font-size: 20px;
  }
}

.step-content {
  align-content: space-between;
  justify-content: space-between;
}

.step-number {
  text-shadow: 0 4px 9px #d2d2d2;
  color: #eff0f1;
  font-family: "Open Sans";
  font-size: 140px;
  font-weight: 700;
}

.vertical-text {
  transform: rotate(-90deg);
  color: #d8d8d8;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 20px;
}

// Our Sevices
.services {
  padding: 130px 0 65px;
  background-color: #4f5d75;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 70px 0 80px;
  li {
    text-decoration: none;
    color: #2d3142;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    &.active {
      color: #ffffff;
    }
    &:not(:last-child)::after {
      content: '|';
      margin: 0 40px;
      color: #2d3142;
    }
  }
}

.tab-content {
  display: none;
  &.active {
    width: 1100px;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
  }
}

.service {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
  width: 33%;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.91px;
  .icon {
    width: 60px;
    height: 60px;
    margin-right: 45px;
    &.transcription {
      background: url('../src/images/icons/Transcription.png') no-repeat center;
    }
    &.draft {
      background: url('../src/images/icons/RoughDraft.png') no-repeat center;
    }
    &.realtime {
      background: url('../src/images/icons/Realtime.png') no-repeat center;
    }
    &.videotaping {
      background: url('../src/images/icons/Videotaping.png') no-repeat center;
    }
    &.streaming {
      background: url('../src/images/icons/VideoStreaming.png') no-repeat center;
    }
    &.interpreting {
      background: url('../src/images/icons/Interpreting.png') no-repeat center;
    }
  }
}

.accordion {
  display: none;
  flex-direction: column;
  align-items: center;
}

.accordion-header {
  margin: 30px 0 20px;
	cursor: pointer;
  text-decoration: none;
  color: #2d3142;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.accordion-content {
	display: none;
  &.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .service {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      &:last-child,
      &:nth-last-child(2){
        margin-bottom: 0;
      }
      .icon {
        margin: 0 45px;
      }
    }
  }
}

// NexDep in Numbers
.numbers {
  padding: 90px 0;
  background-color: #eff0f1;
  overflow: hidden;
  .container {
    width: 1100px;
    margin: 90px auto 0;
    display: flex;
    justify-content: space-between;
  }
}

.progress {
  position: relative;
  width: $circle-diameter;
  height: $circle-diameter;
  border-radius: 50%;
  background-color: $circle-accent;
  box-shadow: 0 4px 9px #bfbfbf;
  .inner-bf {
    position: absolute;
    content: '';
    width: $circle-diameter;
    height: $circle-diameter;
    border-radius: 50%;
    clip: rect(0, #{$circle-diameter/2}, $circle-diameter, 0);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .inner-af {
    position: absolute;
    content: '';
    background-color: $circle-white;
    width: $circle-diameter;
    height: $circle-diameter;
    border-radius: 50%;
    clip: rect(0, #{$circle-diameter/2}, $circle-diameter, 0);
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  .center {
    position: absolute;
    top: $circle-border;
    left: $circle-border;
    width: #{$circle-diameter - 2 * $circle-border};
    height: #{$circle-diameter - 2 * $circle-border};
    background-color: #eff0f1;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #030303;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1.91px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    span {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.64px;
      line-height: 24px;
    }
  }
}

// benefits
.benefits {
  padding: 130px 0;
  .container {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-direction: column;
  }
}

.benefit {
  width: 100%;
  display: flex;
  color: #030303;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 26px;
  margin-top: 130px;
  .text-block {
    width: 360px;
    margin: 70px 0 0 70px;
  }
  h3 {
    text-align: left;
    color: #161616;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .img {
    width: 670px;
    height: 360px;
    overflow: hidden;
    img {
      width: 670px;
    }
  }
  &:nth-child(even) {
    justify-content: flex-end;
    .text-block {
      order: 0;
      margin: 70px 70px 0 0;
    }
    .img {
      order: 10;
    }
  }
}

// providers
.providers {
  -webkit-filter: opacity(60%);
  filter: opacity(60%);
  padding: 90px 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url('../src/images/bg-services-providers.png') no-repeat center;
}

.owl-carousel {
  position: relative;
  width: 870px;
  margin: 50px auto 0;
}

.slide {
  width: 370px;
  display: flex;
  flex-direction: column;
  color: #030303;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.91px;
  .top {
    display: flex;
    justify-content: space-between;
    div {
      width: 270px;
    }
    p {
      padding-top: 15px;
      margin: 15px 0;
      border-top: 1px solid #ffffff;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 20px;
      text-transform: uppercase;
    }
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
  .bottom {
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 26px;
    font-weight: 400;
  }
}

.owl-carousel .owl-nav.disabled {
  width: 100%;
  display: block;
  position: absolute;
  .owl-prev,
  .owl-next {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #030303;
    i {
      margin-top: -5px;
      display: block;
    }
  }
  .owl-prev {
    left: -150px;
    top: -120px;
  }
  .owl-next {
    right: -150px;
    top: -120px;
  }
}

// testimonials
.testimonials {
  padding: 110px 0;
  font-family: "Raleway";
  text-align: center;
  .owl-carousel .owl-nav.disabled {
    .owl-prev,
    .owl-next {
      border: 1px solid #d8d8d8;
    }
    .owl-prev {
      top: -80px;
    }
    .owl-next {
      top: -80px;
    }
  }
  .slide {
    align-items: center;
    width: 100%;
    h5 {
      color: #171717;
      font-size: 20px;
      font-weight: 400;
    }
    h6 {
      margin: 10px 0 30px;
      color: #4f5d75;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
      line-height: 26px;
      text-transform: uppercase;
    }
    p {
      width: 750px;
      color: #171717;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 26px;
    }
  }
  .owl-dots {
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    button {
      width: 10px;
      height: 10px;
      border: 1px solid #d8d8d8;
      background-color: #ffffff;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &.active {
        border: 1px solid $circle-accent;
        background-color: $circle-accent;
      }
    }
  }
}

// footer
.footer {
  padding: 45px 0;
  background-color: #4f5d75;
  .container {
    margin: 0 auto;
    width: 1170px;
  }
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  position: relative;
  .icon {
    position: absolute;
    left: -30px;
    top: 5px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 6px;
      left: -2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $circle-accent;
    }
  }
}

.copyright {
  margin-top: 20px !important;
  color: #2d3142;
  font-size: 14px;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .sticky .container {
    width: 100%;
    padding: 0 10px;
  }

  .header-block {
    .phone {
      display: none;
    }
    .links li {
      margin-right: 25px;
    }
  }

  .steps {
    justify-content: space-between;
    padding: 0 15px;
  }
  
  .step:not(:last-child) {
    margin: 0;
  }

  .step-content .text {
    width: auto;
  }

  .tabs li:not(:last-child)::after {
    margin: 0 20px;
  }

  .tab-content.active {
    justify-content: space-between;
    width: auto;
    padding: 0 15px;
  }

  .numbers .container {
    width: 100%;
    padding: 0 20px;
    justify-content: space-around;
  }

  .benefits .container {
    width: 100%;
    padding: 0 20px;
  }

  .owl-carousel .owl-nav.disabled {
    display: none;
  }

  .footer .container {
    width: 100%;
    padding: 0 20px;
    .columns {
      width: 100%;
      justify-content: space-around;
    }
  }

  .copyright {
    text-align: center;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .header-block {
    .for {
      display: none;
    }
    .links li {
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      &::after {
        display: none;
      }
    }
  }

  #tabs {
    display: none;
  }

  .accordion {
    display: flex;
  }
  
  .owl-carousel {
    width: 100%;
    padding: 0 20px;
  }

  .slide {
    width: 100%;
  }

  .testimonials .slide p {
    width: auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .logo svg {
    width: 96px;
    height: 20px;
  }

  .btn-block {
    padding: 0 15px;
    h3 {
      width: 100%;
    }
  }

  .btn {
    width: 100%;
  }

  .steps {
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 0;
  }

  .step {
    margin-bottom: 50px !important;
  }

  .accordion-content.active .service {
    justify-content: space-around;
    margin-bottom: 40px;
    .icon {
      margin: 0;
    }
  }

  .numbers .container {
    margin: 0;
    flex-wrap: wrap;
  }

  .progress {
    margin-top: 50px;
  }

  .benefit {
    margin-top: 50px;
    &:nth-child(even) {
      .text-block {
        margin: 0;
      }
    }
    .text-block {
      width: 100%;
      margin: 0;
    }
    .img {
      display: none;
    }
  }

  .slide .top {
    justify-content: space-around;
  }

  .footer .container .columns {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .header-block {
    width: 100%;
    .links {
      width: 100%;
      li {
        margin: 0 !important;
        a {
          font-size: 14px;
        }
      }
    }
  }

  .accordion-content.active .service {
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    &:nth-last-child(2){
      margin-bottom: 40px;
    }
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}